<!doctype html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>{{.Site.Title}}</title>
  <link rel='stylesheet' href='/main.css'></style>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="manifest" href="/img/site.webmanifest">
</head>
<body>
    <main class="container">
    <pre>
        ▄▄▄       ██▀███   ██▓ ▄████▄   ██ ▄█▀
        ▒████▄    ▓██ ▒ ██▒▓██▒▒██▀ ▀█   ██▄█▒
        ▒██  ▀█▄  ▓██ ░▄█ ▒▒██▒▒▓█    ▄ ▓███▄░
        ░██▄▄▄▄██ ▒██▀▀█▄  ░██░▒▓▓▄ ▄██▒▓██ █▄
         ▓█   ▓██▒░██▓ ▒██▒░██░▒ ▓███▀ ░▒██▒ █▄
         ▒▒   ▓▒█░░ ▒▓ ░▒▓░░▓  ░ ░▒ ▒  ░▒ ▒▒ ▓▒
          ▒   ▒▒ ░  ░▒ ░ ▒░ ▒ ░  ░  ▒   ░ ░▒ ▒░
          ░   ▒     ░░   ░  ▒ ░░        ░ ░░ ░
              ░  ░   ░      ░  ░ ░      ░  ░
                               ░
      </pre>
    
      <p>
        <span class="highlight">arick@arick.io</span>:<span class="tag">/root</span
        ><span>$ <span class="attribute">cd</span> ~/
      </p>
      <p>
        <span class="highlight">arick@arick.io</span>:<span class="tag">~/</span
        ><span>$ <span class="attribute">cat</span> profile.md
      </p>
      <p>
        I've been sitting behind a computer for more than half my life, mashing buttons in an attempt to learn
        a little about everything that interests me. I'll occasionally leave notes about those adventures for anyone to read.
      </p>
      <p>-Arick</p>
      <p>
        <span class="highlight">arick@arick.io</span>:<span class="tag">~/</span
        ><span>$ <span class="attribute">ls</span> blog
      </p>
      <div class="ls">
        {{ range where site.RegularPages "Type" "posts" }}
            <a href='{{.Permalink}}'>{{ .Title }}</a>
        {{ end }}
      </ul>
    </main>
</body>
</html>